@import "../../assets/variables.scss";

.main-container {
  position: relative;
  display: flex;
  padding: 40px 0;
  gap: 520px;

  padding: 0 var(--padding-primary);
  width: 100%;
  align-items: center;

  @media screen and (max-width: 1700px) {
    gap: 400px;
  }
  @media screen and (max-width: 1300px) {
    gap: 300px;
  }
  @media screen and (max-width: 1000px) {
    gap: 200px;
  }

  @media screen and (max-width: 950px) {
    justify-content: center;
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 550px) {
    padding-bottom: 100px;
    gap: 100px;
  }

  &__hacker-image {
    position: absolute;
    left: -29px;
    top: -181px;
    mix-blend-mode: hard-light;
    z-index: 1;
    height: 160%;

    @media screen and (max-width: 1550px) {
      left: -75px;
      height: 170%;
    }

    @media screen and (max-width: 950px) {
      top: -152px;
      height: 200%;
      left: 53%;
      transform: translateX(-50%);
    }
    @media screen and (max-width: 800px) {
    }
    @media screen and (max-width: 650px) {
      height: auto;
      width: 200%;
      top: -276px;
    }

    @media screen and (max-width: 580px) {
      width: 220%;
    }
    @media screen and (max-width: 510px) {
      width: 240%;
    }
    @media screen and (max-width: 410px) {
      width: 240%;
      top: -198px;
    }
    @media screen and (max-width: 330px) {
      width: 300%;
      top: -215px;
    }
    @media screen and (max-width: 310px) {
      top: -248px;
    }
    @media screen and (max-width: 300px) {
      top: -225px;
    }
  }

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgb(110, 21, 214);
    background: linear-gradient(
      106deg,
      rgba(110, 21, 214, 1) 5%,
      rgba(7, 59, 144, 1) 21%,
      rgba(4, 154, 172, 1) 48%,
      rgba(4, 165, 175, 1) 60%,
      rgba(2, 119, 165, 1) 100%
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 344px 156px var(--color-black) inset;
    width: 100%;
    height: 120%;
    @media screen and (max-width: 1550px) {
      height: 130%;
      width: 100%;
      box-shadow: 0 0 313px 125px var(--color-black) inset;
    }
    @media screen and (max-width: 950px) {
      width: 102%;
      width: 502%;
      left: -400px;
      height: 115%;
    }
    @media screen and (max-width: 500px) {
      height: 100%;
    }
    @media screen and (max-width: 400px) {
      height: 92%;
    }
    @media screen and (max-width: 350px) {
      height: 95%;
    }
  }

  &__social-links {
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-top: -280px;

    > a {
      > svg {
        color: var(--color-white);
        font-size: 32px;

        @media screen and (max-width: 950px) {
          font-size: 50px;
        }
        @media screen and (max-width: 450px) {
          font-size: 40px;
        }
      }

      &:hover {
        transform: translateY(2px);
      }
    }

    @media screen and (max-width: 950px) {
      flex-direction: row;
      margin-top: 70px;
      gap: 80px;
    }
    @media screen and (max-width: 750px) {
      gap: 40px;
    }
    @media screen and (max-width: 450px) {
      gap: 40px;
    }
  }

  &__content {
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 220px;

    @media screen and (max-width: 1500px) {
      margin-top: 100px;
      width: 70%;
      gap: 40px;
    }

    @media screen and (max-width: 950px) {
      width: 100%;
    }
    @media screen and (max-width: 750px) {
      gap: 30px;
      justify-content: flex-start;
      margin-top: 25px;
    }

    &__title {
      font-size: var(--font-size-big-variant);
      font-weight: var(--font-weight-semi-bold);
      text-align: center;
      text-transform: uppercase;
      line-height: var(--big-line-height);
    }

    &__text {
      font-size: var(--font-size-text-variant);
      font-weight: var(--font-weight-thin);
      text-align: center;
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 30px;
      width: 100%;
      justify-content: center;

      @media screen and (max-width: 950px) {
        flex-direction: column;
      }

      &__btn-1,
      &__btn-2 {
        width: 28%;
        white-space: nowrap;
        padding: 30px 60px;
        border-radius: 45px;
        border: 1px solid var(--color-white);
        font-size: var(--font-size-btn);
        font-weight: var(--font-weight-thin);
        text-transform: uppercase;
        color: var(--color-white);
        &:hover {
          border-color: var(--color-shadow);
          background-color: var(--color-white);
          background: var(--color-white);
          color: var(--color-black);
        }

        @media screen and (max-width: 1500px) {
          width: 34%;
        }
        @media screen and (max-width: 1200px) {
          width: 39%;
        }
        @media screen and (max-width: 1100px) {
          width: 50%;
        }
        @media screen and (max-width: 950px) {
          width: 100%;
        }
      }

      &__btn-1 {
        background-color: var(--color-black);
      }

      &__btn-2 {
        background: linear-gradient(
          126deg,
          var(--color-shadow-variant) 0%,
          var(--color-shadow) 100%
        );
      }
    }
  }
}
