@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;600;700;800;900&family=Codystar:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*font sizes*/
  --font-size-btn: 20px;
  --font-size-text: 33px;
  --font-size-text-variant: 37px;
  --font-size-title: 50px;
  --font-size-big: 145px;
  --font-size-big-variant: 164px;

  /*font-weights*/
  --font-weight-thin: 400;
  --font-weight-normal: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /*colors*/
  --color-black: rgb(0, 0, 0);
  --color-white: #fff;
  --color-shadow: #04a5af;
  --color-shadow-variant: #073b90;

  /*paddings*/
  --padding-primary: 38px;

  --big-line-height: 124px;
}

@media screen and (max-width: 1900px) {
  :root {
    /*font sizes*/
    --font-size-btn: 15px;
    --font-size-text: 30px;
    --font-size-text-variant: 32px;
    --font-size-title: 28px;
    --font-size-big: 125px;
    --font-size-big-variant: 144px;
  }
}
@media screen and (max-width: 1750px) {
  :root {
    /*font sizes*/
    --font-size-btn: 15px;
    --font-size-text: 30px;
    --font-size-text-variant: 30px;
    --font-size-title: 28px;
    --font-size-big: 105px;
    --font-size-big-variant: 124px;

    --big-line-height: 94px;
  }
}
@media screen and (max-width: 1600px) {
  :root {
    /*font sizes*/
    --font-size-btn: 15px;
    --font-size-text: 30px;
    --font-size-text-variant: 28px;
    --font-size-title: 28px;
    --font-size-big: 95px;
    --font-size-big-variant: 104px;
  }
}

@media screen and (max-width: 1500px) {
  :root {
    /*font sizes*/
    --font-size-btn: 15px;
    --font-size-text: 30px;
    --font-size-text-variant: 27px;
    --font-size-title: 28px;
    --font-size-big: 95px;
    --font-size-big-variant: 104px;

    /*font-weights*/
    --font-weights-thin: 400;
    --font-weight-normal: 500;
    --font-weight-bold: 700;

    /*paddings*/
    --padding-primary: 38px;
  }
}
@media screen and (max-width: 1300px) {
  :root {
    /*font sizes*/
    --font-size-btn: 15px;
    --font-size-text: 30px;
    --font-size-text-variant: 27px;
    --font-size-title: 28px;
    --font-size-big: 95px;
    --font-size-big-variant: 80px;

    --big-line-height: 65px;

    /*paddings*/
    --padding-primary: 38px;
  }
}

@media screen and (max-width: 900px) {
  :root {
    /*font sizes*/
    --font-size-btn: 15px;
    --font-size-text: 30px;
    --font-size-text-variant: 28px;
    --font-size-title: 28px;
    --font-size-big: 95px;
    --font-size-big-variant: 90px;

    --big-line-height: 75px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    /*font sizes*/
    --font-size-btn: 15px;
    --font-size-text: 30px;
    --font-size-text-variant: 28px;
    --font-size-title: 28px;
    --font-size-big: 95px;
    --font-size-big-variant: 80px;

    --big-line-height: 65px;
  }
}
@media screen and (max-width: 700px) {
  :root {
    /*font sizes*/
    --font-size-btn: 15px;
    --font-size-text: 30px;
    --font-size-text-variant: 28px;
    --font-size-title: 28px;
    --font-size-big: 95px;
    --font-size-big-variant: 65px;
    --big-line-height: 55px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    /*font sizes*/
    --font-size-btn: 18px;
    --font-size-text: 30px;
    --font-size-text-variant: 24px;
    --font-size-title: 30px;
    --font-size-big: 145px;
    --font-size-big-variant: 50px;

    /*paddings*/
    --padding-primary: 20px;

    --big-line-height: 45px;
  }
}
@media screen and (max-width: 320px) {
  :root {
    /*font sizes*/
    --font-size-btn: 14px;
    --font-size-text: 16px;
    --font-size-text-variant: 18px;
    --font-size-title: 20px;
    --font-size-big: 145px;
    --font-size-big-variant: 34px;

    --big-line-height: 34px;

    /*paddings*/
    --padding-primary: 15px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  padding-top: 15px;
  overflow-x: hidden;
  max-width: 2000px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  outline: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
